#telalogin{
    width: 350px;
    padding-bottom: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(82, 82, 82);
    opacity: 1;
}



#box_email{
    width: 330px;
    margin: 6px 2px 2px 6px;
}

body{
    background-color: rgb(18, 40, 138);
}

@media (max-width: 500px) {
    #telalogin{
        width: 80%;
        height: 80%;
    }

    #loginAj{
        width: 70%;
        position: relative;
        top: 50px;
    }
}