form{
    margin: 1em 1em;
}

input{
    margin: 1em;
}

select{
    margin: 1em;
}

.btn-primary{
    margin-top: 1em;
}

.flex{
    display: flex;
}


.inline{
    display: inline;
}

.block{
    display: block;
}

ul.content-list, ul.adset{
    display: grid;
    /* grid-auto-flow: column;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none; */

    grid-template-columns: repeat(4, 1fr);
    @media (min-width: 52em) {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }
}

ul{
    list-style: none;
}

ul.content-list-report{
    list-style: none;

}

.report li{
    background-color: orange;
}



li.list-card, li.list-card-report{
    background-color: rgb(64, 50, 141);
    color: white;
    margin: 1em;
    padding: 1em;
    height: fit-content(20%);
    border: none;
    border-radius: 0.8em;
}

li.list-card:hover{
    background-color: rgb(204, 90, 153);
    cursor: pointer;
}

.content-add {
    text-decoration: none;
    /*color: grey;*/
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

li.content-add:hover{
    text-decoration: none;
    color: black;
}

li.content-add{
    background-color: rgb(223, 98, 14);
    display: flex;
    align-items: center;
    justify-content: center;
}

li.content-add h5{
    display: block;
}

li.content-add i{
    font-size: 3em; 
}

li.camp{
    background-color: lightcyan;
}

ul.content-list-report.ad{
    padding: 0px;
}

li.ad{
    background-color: darkcyan;
    color: white;
}

.content-in-top{
    text-align: right;
}


/* estilo para o botão Pesquisar na navbar */
#divPesquisar{
    background-color:dimgray;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    display: inline;
}

#divPesquisar *{
    display: inline;
}


/* estilo para o conteúdo em Pesquisar */  
#txtPesquisar{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

.container{
    margin-top: 3em;
}

.fa-trash-alt:hover, .fa-th-list:hover{
    font-size: 1.3em;
    color: rgb(236, 128, 3);
}



.close-to{
    margin-bottom: 0px;
}

.btn-container {
    float: right;
    display: inline;
}

.btn-container button {
    float: left;
    padding-left: 10px;
}

.nome-acessibilidade{
    color: white;
    padding: 2px;
    text-align: center;
}

.navbar-brand {
	text-align: center;
}

/* estilo e cores do alto_baixo contraste */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* esse trecho de código zera as configurações dos css. Isolei para recuperar
as formatações. Não identifiquei dano para o contraste

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*/

body {
  background-color: #fafafa;
  /*display: flex;*/
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background: rgb(0, 0, 0);
  color: white;
  
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);

}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}