{% extends "base.html" %}

{% block content %}
    <head> 
        <title>Sobre</title>
        <link rel ="stylesheet" href = "{{ url_for('static', filename = "css/bootstrap.min.css") }}">
    </head>

<body>
<h1>Sobre</h1>

<h3>
    Protótipo de plataforma web que distribui o orçamento durante o período de uma campanha de marketing digital. Requisito da disciplina "Projeto Integrador em Computação II", 5º semestre dos cursos de Ciência de Dados e Engenharia da Computação, da Univesp.<br><br> 
    Fazem parte deste projeto os alunos:<br>
     Alessandra Dan<br>
     Fernando Palhares <br>
     Itamar de Oliveira <br>
     Joice Oliveira <br>
     Marcos Antonio do Nascimento<br>
     Weslley da Silva <br>
     Orientadora: Cláudia Silva
</h3>    


<script src=" {{url_for('static', filename = "js/bootstrap.min.js") }}"></script>
</body>
{% endblock %}
