{% extends "base.html" %}

{% block content %}
    <head> 
        <title>Sobre</title>
        <link rel ="stylesheet" href = "{{ url_for('static', filename = "css/bootstrap.min.css") }}">
    </head>

<body>
<h1>Sobre</h1>

    Protótipo de plataforma web que distribui o orçamento durante o período de uma campanha de marketing digital. Requisito da disciplina "Projeto Integrador em Computação I", 4º semestre dos cursos de Ciência de Dados e Engenharia da Computação, da Univesp.
   <br><br> 
   Fazem parte deste projeto os alunos:<br>
    Fernando Palhares <br>
    Itamar de Oliveira <br>
    Joice Oliveira <br>
    Weslley da Silva <br>
    Orientadora: Renata Pereira
   

<script src=" {{url_for('static', filename = "js/bootstrap.min.js") }}"></script>
</body>
{% endblock %}
