{% extends "base.html" %}

{% block content %}
    <div class="inline">
        <h3><a href="{{ url_for('index') }}" >Início</a> >
            <a href="{{ url_for('campaignset', campaignset_id=campaign.campaign_set_id)}}">{{ campset.name }}</a> >
            <a href="{{ url_for('campaign', campaign_id=campaign.campaign_id)}}">{{ campaign.name }}</a> >
            <a href="{{ url_for('adset', adset_id=adset.ad_set_id)}}">{{ adset.name }}</a> > 
            Novo Anúncio
        </h3>
    </div>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <h2>Nome do Anúncios</h2>
        <div class="form-group"> 
            <label>Nome</label>
            {{ form.name(class="form-control", placeholder="Escreva um nome") }}
            <label>Criativo</label>
            {{ form.campaign_creative(class="form-control", placeholder="Descreva") }}
            <label>Link</label>
            {{ form.cta_link(class="form-control", placeholder="Saída do Anúncio") }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% if form.errors.name %}
            <div class="alert alert-danger" role="alert">
                {{ forms.errors.name }}
            </div>
        {% endif %}
    </form>
{% endblock %}