{% extends "base.html" %}

{% block content %}
    <div class="inline">
        <h3><a href="{{ url_for('index') }}" >Início</a> >
            <a href="{{ url_for('campaignset', campaignset_id=campaign.campaign_set_id)}}">{{ campset.name }}</a> >
            <a href="{{ url_for('campaign', campaign_id=campaign.campaign_id)}}">{{ campaign.name }}</a> > 
            Novo Conjunto de Anúncios
        </h3>
    </div>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <h2>Nome do Conjunto de Anúncios</h2>
        <div class="form-group"> 
            <label>Nome</label>
            {{ form.name(class="form-control", placeholder="Escreva um nome") }}
            <label>Data de Início</label>
            {{ form.date_start(class="form-control", placeholder="dd/mm/aaaa") }}
            <label>Data de Término</label>
            {{ form.date_end(class="form-control", placeholder="dd/mm/aaaa") }}
            <label>Descrição de Público</label>
            {{ form.public(class="form-control", placeholder="Descreva o Público Alvo") }}
            <label>Orçamento</label>
            {{ form.budget(class="form-control", placeholder="R$ por dia") }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% if form.errors.name %}
            <div class="alert alert-danger" role="alert">
                {{ forms.errors.name }}
            </div>
        {% endif %}
    </form>
{% endblock %}