{% extends "base.html" %}

{% block content %}
    <div class="inline">
        <h3><a href="/" >Início</a> > 
            <a href="{{ url_for('campaignset', campaignset_id=campset.campaign_set_id) }}"> {{ campset.name }} </a> > 
            <a href="{{ url_for('campaign', campaign_id=campaign.campaign_id) }}">{{ campaign.name }} </a> > 
            <a>{{ adset.name }}
        </h3>
    </div>
    <div class="flex">
        <h2>Anúncios</h2>
    </div>
    <div>
        <ul class="content-list">
            <li class="content-add card list-card" onclick="newad()" tabindex="0"><h5>Novo</h5><i class="fas fa-plus"></i></li>
                {% for ad in ad %}
                    <li class="card list-card" tabindex="0">
                        <div class="content-in-top">
                            <i class="fas fa-trash-alt" onClick="eraseAd()" tabindex="0"></i>
                        </div>
                        <div class="content-in-bottom">
                            <p class="card-text">ID: {{ ad.ad_id }}</p>
                            <h5 class="card-title">{{ ad.name }}</h5>
                            <p class="card-text">Criativo:</p>
                            <p>Deleted: {{ ad.file[-1].deleted }}</p>
                            {% if ad.file[-1].file_id and ad.file[-1].deleted == 0 %}
                                <img src="{{ ad.file[-1].file_url }}">
                                <form action="/upload/deletefile/{{ ad.ad_id }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary">Excluir arte</button>
                                </form>
                            {% else %}
                                <form action="/upload/uploadfile/{{ ad.ad_id }}" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" value="file">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                            {% endif %}
                            <p class="card-text">{{ ad.campaign_creative }}</p>
                            <p class="card-text">Link de Saída:</p>
                            <p class="card-text">{{ ad.cta_link }}</p>
                        </div>
                        <param name="id" value={{ ad.ad_id }}>            
                    </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        function newad(){
            window.location.href = window.location.origin + "/adcreate/" + window.location.pathname.split('/').pop()
        }

        function eraseAd(){
            adid = event.target.parentElement.parentElement.querySelector('* param').getAttribute('value');
            window.location.href = window.location.origin + "/adremove/" + adid;
            event.stopPropagation();
        }

        function uploadfile(){
            adid = event.target.closest("li").querySelector("param").getAttribute('value');
            window.location.href = window.location.origin + "/upload/uploadfile/" + adid;
        }

        function dropHandler(ev) {
            console.log('File(s) dropped');

            // Impedir o comportamento padrão (impedir que o arquivo seja aberto)
            ev.preventDefault();

            if (ev.dataTransfer.items) {
            // Use a interface DataTransferItemList para acessar o (s) arquivo (s)
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
            // Se os itens soltos não forem arquivos, rejeite-os
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        var file = ev.dataTransfer.items[i].getAsFile();
                        console.log('... file[' + i + '].name = ' + file.name);
                    }
                }
            } else {
            // Use a interface DataTransfer para acessar o (s) arquivo (s)
                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                    console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                }
            }
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');

            // Impedir o comportamento padrão (impedir que o arquivo seja aberto)
            ev.preventDefault();
        }
    </script>
{% endblock %}