{% extends "base.html" %}

{% block content %}
    <div class="inline">
        <h3><a href="/" >Início</a> > 
            <a href="{{ url_for('campaignset', campaignset_id=campset.campaign_set_id) }}"> {{ campset.name }} </a> > 
            <a href="{{ url_for('campaign', campaign_id=campaign.campaign_id) }}">{{ campaign.name }} </a> > 
            <a>{{ adset.name }}
        </h3>
    </div>
    <div class="flex">
        <h2>Anúncios</h2>
    </div>
    <div>
        <ul class="content-list">
            <li class="content-add card list-card" onclick="newad()" tabindex="0"><h5>Novo</h5><i class="fas fa-plus"></i></li>
                {% for ad in ad %}
                    <li class="card list-card" tabindex="0">
                        <div class="content-in-top">
                            <i class="fas fa-trash-alt" onClick="eraseAd()" tabindex="0"></i>
                        </div>
                        <div class="content-in-bottom">
                            <p class="card-text">ID: {{ ad.ad_id }}</p>
                            <h5 class="card-title">{{ ad.name }}</h5>
                            <p class="card-text">Criativo:</p>                           
                                {% if ad.file and ad.file[-1].deleted == 0 %}
                                    <img src="{{ ad.file[-1].file_url }}" draggable="false">
                                    <form action="/upload/deletefile/{{ ad.ad_id }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary">Excluir arte</button>
                                    </form>
                                {% else %}
                                    <form action="/upload/uploadfile/{{ ad.ad_id }}" method="POST" enctype="multipart/form-data">
                                        <div class="drop-zone drop-zone--over">
                                            <input type="file" class="flImage invisible" name="file" value="file">
                                            <img class="imgPhoto" src="..\static\images\camera.png" alt="Selecione uma imagem" draggable="false">
                                            <p>Arraste uma imagem aqui ou clique para escolher um arquivo:</p>
                                            <!-- <button type="submit" id="inputBtn" class="btn btn-primary invisible" disabled>Enviar</button> -->
                                        </div>
                                    </form>
                                {% endif %}
                            <p class="card-text">{{ ad.campaign_creative }}</p>
                            <p class="card-text">Link de Saída:</p>
                            <p class="card-text">{{ ad.cta_link }}</p>
                        </div>
                        <param name="id" value={{ ad.ad_id }}>            
                    </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        function newad(){
            window.location.href = window.location.origin + "/adcreate/" + window.location.pathname.split('/').pop()
        }

        function eraseAd(){
            adid = event.target.parentElement.parentElement.querySelector('* param').getAttribute('value');
            window.location.href = window.location.origin + "/adremove/" + adid;
            event.stopPropagation();
        }


        let dropzone = document.querySelectorAll('.drop-zone');

        let photo = document.querySelectorAll('.imgPhoto');
        let file = document.querySelectorAll('.flImage');

        photo.forEach(item => {
            item.addEventListener('click', () => {item.parentElement.querySelectorAll('input')[0].click();});
        });

        function clearInput(e){
            defaultImg = "../static/images/camera.png"
            e.parentElement.querySelectorAll('img')[0].src = defaultImg
            e.parentElement.querySelectorAll('p')[0].innerHTML = 'Arraste uma imagem aqui ou clique para escolher um arquivo:'
            e.parentElement.classList.remove('attention');
            e.parentElement.parentElement.querySelectorAll('button')[0].setAttribute('disabled','true');
            e.parentElement.parentElement.querySelectorAll('button')[0].classList.add('invisible');
        }
        
        file.forEach(item => {
            item.addEventListener('change', (event) => {
                if (item.files.length <= 0){
                    defaultImg = "../static/images/camera.png"
                    item.parentElement.querySelectorAll('img')[0].src = defaultImg
                    item.parentElement.querySelectorAll('p')[0].innerHTML = 'Arraste uma imagem aqui ou clique para escolher um arquivo:'
                    item.parentElement.classList.remove('attention');
                    var divBtn = item.parentElement.querySelector(".btn-upfile");
                    item.parentElement.removeChild(divBtn);
                    disInputs = document.querySelectorAll('input:disabled');
                    disInputs.forEach(item => {
                        item.disabled = false;
                        item.parentElement.querySelector('p').innerHTML = "Arraste uma imagem aqui ou clique para escolher um arquivo:";
                        item.parentElement.classList.remove('disabled');
                    });
                    return;
                }
                if (item.parentElement.querySelectorAll('div .btn-cancelar').length <=0){
                    let divBtn = document.createElement("div");
                    divBtn.classList.add("flex", "btn-upfile");
                    item.parentElement.appendChild(divBtn);
                    let btnEnviar = document.createElement("button");
                    btnEnviar.type = "submit";
                    btnEnviar.innerHTML = "Enviar";
                    btnEnviar.classList.add('btn','btn-primary');
                    divBtn.appendChild(btnEnviar);
                    let btnCancelar = document.createElement("button");
                    btnCancelar.type = "button";
                    btnCancelar.innerHTML = "Limpar";
                    btnCancelar.classList.add('btn','btn-cancelar');
                    divBtn.appendChild(btnCancelar);
                    btnCancelar.addEventListener('click', () =>{
                        const evento = new Event('change');
                        btnCancelar.parentNode.parentNode.querySelector('input').value = '';
                        btnCancelar.parentNode.parentNode.querySelector('input').dispatchEvent(event);
                    });
                }
                let reader = new FileReader();
                reader.onload = () => {
                    item.parentElement.querySelectorAll('img')[0].src = reader.result;
                }
                reader.readAsDataURL(item.files[0]);
                item.parentElement.classList.add('attention');
                item.parentElement.querySelectorAll('p')[0].innerHTML = 'A Arte ainda não foi salva!'

                cleanInputs = Array.from(document.querySelectorAll('input')).filter(input => input.value == '');
                cleanInputs.forEach(item => {
                    item.disabled = true;
                    item.parentElement.querySelector('p').innerHTML = "Só é possivel enviar 1 arte por vez";
                    item.parentElement.classList.add('disabled');
                });
                console.log(cleanInputs);
            });
        });


        function uploadfile(){
            adid = event.target.closest("li").querySelector("param").getAttribute('value');
            window.location.href = window.location.origin + "/upload/uploadfile/" + adid;
        }

        function dropHandler(ev) {
            console.log('File(s) dropped');

            // Impedir o comportamento padrão (impedir que o arquivo seja aberto)
            ev.preventDefault();

            if (ev.dataTransfer.items) {
            // Use a interface DataTransferItemList para acessar o (s) arquivo (s)
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
            // Se os itens soltos não forem arquivos, rejeite-os
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        var file = ev.dataTransfer.items[i].getAsFile();
                        console.log('... file[' + i + '].name = ' + file.name);
                    }
                }
            } else {
            // Use a interface DataTransfer para acessar o (s) arquivo (s)
                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                    console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                }
            }
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');

            // Impedir o comportamento padrão (impedir que o arquivo seja aberto)
            ev.preventDefault();
        }

    </script>
{% endblock %}