{% extends "base.html" %}

{% block content %}
    <div class="inline"> 
        <h3><a href="/" >Início</a> > 
            <a href="{{ url_for('campaignset', campaignset_id=campset.campaign_set_id) }}"> {{ campset.name }} </a> > 
            {{ campaign.name }}
        </h3>
    </div>
    <ul>
        <li>Campanha: {{ campaign.name }}</li>
        <li>Objetivo: {{ campobj.name }}</li>
        <li>Data de Criação: {{ campaign.date_creation }}</li>   
    </ul>
    <div class="flex">
        <h2>Conjuntos de Anúncios</h2>
    </div>
    <div class="card-group">
        <ul class="content-list">
            <li class="content-add card list-card" onclick="newadset()"><h5>Novo</h5><i class="fas fa-plus"></i></li>
            {% for adset in adsets %}
    <!-- <div class="card" style="width: 18rem;" onClick="getadset()"> -->

                <li class="card list-card" onClick="getadset()">
                    <div class="content-in-top">
                        <i class="fas fa-trash-alt"></i>
                    </div> 
                    <div>
                        <h5 class="card-title">{{ adset.ad_set_id }}</h5>
                        <p class="card-text">{{ adset.name }}</p>
                        <p class="card-text">{{ adset.date_start }}</p>
                        <p class="card-text">{{ adset.date_end }}</p>
                        <p class="card-text">{{ adset.public }}</p>
                        <p class="card-text">{{ adset.budget }}</p>
                        <param name="id" value={{ adset.ad_set_id }}>
                    </div>
                </li>
            {% endfor %} 
        </ul>
    </div>


    <script>
        function getadset(){
        //campid = event.target.parentElement.querySelector('param').getAttribute('value');
        //window.location.href = window.location + "campaign/" + campid;
        window.location.href = window.location.origin + "/adset/" + event.target.parentElement.querySelector('param').getAttribute('value');
        //alert(window.location + "campaign/" + campid)
    }

        function newadset(){
            window.location.href = window.location.origin + "/adsetcreate/" + window.location.pathname.split('/').pop()
        }
    </script>

{% endblock %}