
<div>


<div class="flex">

  <h2>Esses são os CampSet: </h2>  
  <a href="{{ url_for('campaignsetcreate') }}">
    <button type="button" class="btn btn-primary">Adicionar CampaignSet</button>
  </a>
</div>
  <div class="card-group flex">

    <ul id="campaignset" class="flex">
      {% for x in campsets %}

        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <li class="card-body" id="campaignset" class="card" onClick="getid()">
          <param name="id" value={{ x.campaign_set_id }}>
          <h5 class="card-title">{{ x.campaign_set_id }} - {{ x.name }}</h5>
          <p class="card-text">criado em: {{ x.date_creation }}</p>
        </li>

      {% endfor %} 
    </ul>

    {% for x in campsets %}
        <div id="campaignset" class="card" onClick="getid()" >         
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <param name="id" value={{ x.campaign_set_id }}>
            <h5 class="card-title">{{ x.campaign_set_id }} - {{ x.name }}</h5>
            <p class="card-text">criado em: {{ x.date_creation }}</p>

  <h2>Esses são os CampSet: </h2>
  {% for x in campsets %}
      <div class="card-group flex">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <param name="id" value={{ x.campaign_set_id }}>
              <h5 class="card-title">{{ x.campaign_set_id }} - {{ x.name }}</h5>
              <p class="card-text">criado em: {{ x.date_creation }}</p>
            </div>

          </div>
        </div>
  {% endfor %} 
</div>

<script>
  function getid(){
    campsetid = event.target.parentElement.querySelector('param').getAttribute('value');
    window.location.href = window.location + "campaignset/" + campsetid;
    //alert(window.location + "campaignset/" + campsetid)
  }
</script>