{% extends "base.html" %}

{% block content %}
    <div class="site-nav">
        <h3><a href="/">Início</a> > {{ campaignset.name }} </h3>
    </div>
    </br>
    <div class="container">
        <div class="flex">
            <h2>Campanhas</h2>
            <!-- <button type="button" class="btn btn-primary" onclick="newcampaign()">Adicionar Campanha</button> -->
        </div>            
        <div>
            <ul class="content-list">
                <li class="content-add card list-card" onclick="newcampaign()"><h5>Novo</h5><i class="fas fa-plus"></i></li>
                {% for camp in campaigns %}
                    <li class="card list-card" onClick="getcampaign()">
                        <div class="content-in-top">
                            <i class="fas fa-trash-alt" onClick="removecampaign()"></i>
                        </div>
                        <div class="content-in-bottom">
                            <p class="card-text">ID: {{ camp.campaign_id }}</p>
                            <h5 class="card-title" class="card">{{ camp.name }}</h5>
                            <p class="card-text">{{ camp.campaign_objective.name }}</p>
                            <p>Criado em: {{ camp.date_creation }}</p>
                            <p>Conjuntos de Anúncios:</p>
                            {% for adset in camp.ad_set %}
                                <p class="card-text">{{ adset.ad_set_id }} - {{ adset.name }}</p>
                            {% endfor %}
                        </div>
                        <param name="id" value={{ camp.campaign_id }}>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        function getcampaign(){
          //campid = event.target.parentElement.querySelector('param').getAttribute('value');
          //window.location.href = window.location + "campaign/" + campid;
          window.location.href = window.location.origin + "/campaign/" + event.target.parentElement.parentElement.querySelector('param').getAttribute('value');
          //alert(window.location + "campaign/" + campid)
        }

        function newcampaign(){
            window.location.href = window.location.origin + "/campaigncreate/" + window.location.pathname.split('/').pop()
        }

        function removecampaign(){
            campid = event.target.parentElement.parentElement.querySelector('* param').getAttribute('value');
            window.location.href = window.location.origin + "/campaignremove/" + campid;
            event.stopPropagation();
        }
    </script>

{% endblock %}