  <h2>Esses são os CampSet: </h2>
  {% for x in campsets %}
      <div class="card-group">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <param name="id" value={{ x.campaign_set_id }}>
              <h5 class="card-title">{{ x.campaign_set_id }} - {{ x.name }}</h5>
              <p class="card-text">criado em: {{ x.date_creation }}</p>
            </div>
          </div>
      </div>
  {% endfor %} 