{% extends "base.html" %}

{% block content %}

      <div class="container">
        <div>
          <h2>Esses são os Conjuntos de Campanhas: </h2>  
        </div>
        <div>
          <ul id="campaignset" class="content-list">
            <li class="content-add card list-card" onClick="newcampset()"><h5>Novo</h5><i class="fas fa-plus"></i></li>
            {% for x in campsets %}
              <li id="campaignset" class="card list-card" onClick="getid()">
                <div class="content-in-top">
                  <i class="fas fa-trash-alt"></i>
                </div>
                <div class="content-in-bottom">
                  <param name="id" value={{ x.campaign_set_id }}>
                  <h5 class="card-title">{{ x.campaign_set_id }} - {{ x.name }}</h5>
                  <p class="card-text">criado em: {{ x.date_creation }}</p>
                </div>
              </li> 
            {% endfor %} 
          </ul>
        </div>          
      </div>

    <script>
        function getid(){
          campsetid = event.target.parentElement.querySelector('param').getAttribute('value');
          window.location.href = window.location + "campaignset/" + campsetid;
          //alert(window.location + "campaignset/" + campsetid)
        }

        function newcampset(){
          window.location.href = window.location.origin + "/campaignsetcreate"
        }
    </script>

{% endblock %}