

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">

      <!-- Identidade + botão Home -->
      <img src="../static/images/LOGO.png" width="100" alt="peça de xadrez" class="fotoxadre">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbotton">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <a class="navbar-brand" href="/">Calculadora de Campanhas</a>

        <!-- Botão Sobre -->
          <div class="left-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="right-content">
            <ul class="navbar-nav mr-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('simplepage.useragency') }}">Agencia: {{ agency }}</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('simplepage.logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div class="btn-container">
          <p class="nome-acessibilidade">Acessibilidade</p>
          <div class="botoes-aumentar-reduzir-fonte">
            <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
            <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>
          </div>
          <div class="botao-contraste">
            <!-- Inclusão do botão de alto e baixo contraste para acessibilidade -->
            <input type="checkbox" class="checkbox" id="check" />
            <label class="label" for="check">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
          </div>
            
          
        </div>
      
          
        <script src="script.js"></script>
        <script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>
  </div>
</nav>

