<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">

      <!-- Identidade + botão Home -->
      <a class="navbar-brand" href="/">Calculadora de Campanhas</a>

      <!-- Botão Sobre -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
          </li>
        </ul>
      </div>
      <div class="btn-container">
        <p class="nome-acessibilidade">Acessibilidade</p>
        <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
        <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>

        
         <!-- Inclusão do botão de alto e baixo contraste para acessibilidade -->
        <input type="checkbox" class="checkbox" id="check" />
          
          <label class="label" for="check">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
          </label>
        
        
      </div>

     
      
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>

  </div>
</nav>
