{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" id="clearLabel">
        <div class="mb-3 w-0 col-sm-4" id="newLabel">
            <button type="submit" class="btn btn-success" id="new">Nova agência</button>
        </div>

        <div class="col-sm mt-4">
            
        </div>
    </div>
</div>
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row">
            <div class="mb-3 w-0 col-sm-4" id="novalabel">
                <label id="clear">O Nome da Agencia</label>
                    {{ form.agency(class="form-select") }}
            </div>

            <div class="col-sm mt-4" id="novobotao">
               
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">name</label>
        {{ form.username(class="form-control", placeholder="name") }}
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        {{ form.password(class="form-control", placeholder="password") }}
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Repeat Password</label>
        {{ form.rpassword(class="form-control", placeholder="password") }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="register">Sign in</button>
    </div>
</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                    <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<script>
    let botaoNew = document.querySelector("#new");

    botaoNew.addEventListener('click', function() {
       clearlabel = document.getElementById("clearLabel").remove()
       remove = document.getElementById('clear').remove()
       novaLabel = '<label for="formGroupExampleInput" class="form-label">Nova Agencia</label>{{ form1.newagency(class="form-control") }}';
       //novoBotao = '<button type="submit" class="btn btn-success">Adicionar</button>';
       novalabel.innerHTML = novaLabel;
       //novobotao.innerHTML = novoBotao;
    });
</script>

{% endblock %}