{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3 w-25">
        <label>O Escolha um Objetivo de Campanha</label>
        {{ form.agency(class="form-select") }}
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">name</label>
        {{ form.username(class="form-control", placeholder="name") }}
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        {{ form.password(class="form-control", placeholder="password") }}
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Repeat Password</label>
        {{ form.rpassword(class="form-control", placeholder="password") }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="register">Sign in</button>
    </div>
</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                    <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<script>
    options.innerHTML = options.innerHTML + "<button type='button'>Clique</button>";
</script>

{% endblock %}